.fr-logo a:active {
  background: transparent !important;
}

.bg-grey-975 {
  background-color: var(--grey-975);
}

.ds-text-xs {
  font-size: 0.75rem; /* 12px */
}

.ds-text-sm {
  font-size: 0.875rem; /* 14px */
}

.ds-text-base {
  font-size: 1rem; /* 16px */
}

.ds-text-lg {
  font-size: 1.125rem; /* 18px */
}

.ds-block {
  display: block;
}

.ds-mb-0 {
  margin-bottom: 0 !important;
}

.ds-alert {
  position: relative;
}

.ds-alert__icon {
  position: absolute;
  left: 0.5rem;
  font-size: 1.5rem;
  color: white;
}
